<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button (click)="navigateBack()">
				<ion-icon name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>Solicitar Turno</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
	<form [formGroup]="turno" (ngSubmit)="saveTurno()">
    <ion-item>
			<ion-label position="stacked">Fecha:</ion-label>
			<ion-datetime cancelText="Cancelar" doneText="Listo" value="{{ turno.fecha | date:'dd-MM-yyyy' }}" display-format="DD/MM/YYYY" picker-format="DD/MM/YYYY" formControlName="fecha" required></ion-datetime>
		</ion-item>
    <ion-item>
			<ion-label position="stacked">Tipo de Turno:</ion-label>
			<ion-select value="URGENCIA" okText="Listo" cancelText="Cancelar" formControlName="tipo">
        		<ion-select-option value="URGENCIA">URGENCIA</ion-select-option>
        		<ion-select-option value="PROGRAMADA">PROGRAMADA</ion-select-option>
      		</ion-select>
    </ion-item>
		<ion-item>
			<ion-label position="stacked">Nombre:</ion-label>
			<ion-input type="text" formControlName="nombre" required></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Descripci&oacute;n:</ion-label>
			<ion-textarea formControlName="detalle" required></ion-textarea>
    </ion-item>
    <ion-button type="submit" expand="full" [disabled]="!turno.valid">Solicitar</ion-button>
	</form>
</ion-content>