<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Mis Reservas</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-virtual-scroll [items]="turnos">
		<ion-item *virtualItem="let t" (click)="verDetalle(t)">
			<ion-avatar slot="start">
				<ion-icon name="time" *ngIf="t.tur_tipo == 'NORMAL'"></ion-icon>
				<ion-icon name="time" color="danger" *ngIf="t.tur_tipo == 'URGENCIA'"></ion-icon>
			</ion-avatar>
			<ion-label>
				<h2>{{t.tur_fecha}}</h2>
				<h3>{{t.tur_direccion}}</h3>
				<h3>{{t.tur_hora}}</h3>
			</ion-label>
			<ion-item-option (click)="verDetalle(t)" color="primary" *ngIf="r.res_estado == 'PENDIENTE'">{{r.res_estado}}
			</ion-item-option>
			<ion-item-option (click)="verDetalle(t)" color="success" *ngIf="r.res_estado == 'REALIZADO'">{{r.res_estado}}
			</ion-item-option>
			<ion-item-option (click)="verDetalle(t)" color="danger" *ngIf="r.res_estado == 'CANCELADO'">{{r.res_estado}}
			</ion-item-option>
			<ion-item-option (click)="verDetalle(t)" color="success" *ngIf="r.res_estado == 'CONFIRMADO'">{{r.res_estado}}
			</ion-item-option>
		</ion-item>
	</ion-virtual-scroll>
</ion-content>