<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Opciones</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
	  <div class="fullheight xc">
		<ion-grid>
			<ion-row class="ion-align-items-center">
			  <ion-col size="12" class="ion-text-center">
				<ion-button expand="full" style="height: 50px;" color="success" type="button" (click)="navigateTo('PROGRAMADA')">PROGRAMAR TURNO
				</ion-button>
			  </ion-col>
			  <ion-col size="12" class="ion-text-center">
				<ion-button expand="full" style="height: 50px;" color="success" type="button" (click)="navigateTo('URGENCIA')">SOLICITAR ATENCION INMEDIATA
				</ion-button>
			  </ion-col>
			</ion-row>
		  </ion-grid>
	  </div>
</ion-content>