ion-content.background{
    --background: url(../../assets/img/medico.jpg) no-repeat center center / cover;
}

.fullheight {
    height: 100%;
  }
  
  .xc {
    display: flex;
    align-items: center;
    justify-content: center;
  }